.sizing-class {
	max-width: 600px;
}

.img1,
.img2,
.img3,
.img4 {
	max-width: 100%;
	max-height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em;
}

.pro1, .pro2, .pro3, .pro4 {
    margin: 2em;
    border: 1px solid rebeccapurple;
}